version: '3'

services:
  myredis:
    container_name: myredis
    image: 'redis:alpine'
  mypostgres:
    container_name: mypostgres
    image: 'postgres:alpine'
    environment:
      - POSTGRES_PASSWORD=1qaz2wsx
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
    volumes:
      - C:\Users\Michał\Documents\GitHub\DevOps\backend\postgresdata:/var/lib/postgresql/data
  backend:
    container_name: backend
    build:
      dockerfile: Dockerfile.dev
      context: ./backend
    volumes:
      - /opt/app/node_modules
      - C:\Users\Michał\Documents\GitHub\DevOps\backend:/opt/app
    environment:
      #- POSTGRES_PASSWORD=1qaz2wsx
      #- POSTGRES_USER=postgres
      #- POSTGRES_DB=postgres
      #- POSTGRES_HOST=mypostgres
      #- REDIS_HOST=myredis
      CHOKIDAR_USEPOLLING: "true"
    depends_on:
      - mypostgres
      - myredis
    #ports:
    #  - "5000:4000"
  nginx:
    restart: always
    build:
      dockerfile: Dockerfile.dev
      context: ./nginx
    ports:
        - "9090:80"
  frontend:
    build:
      dockerfile: Dockerfile.dev
      context: ./frontend
    environment:
      CHOKIDAR_USEPOLLING: "true"
    volumes: 
      - /opt/app/node_modules
      - C:\Users\Michał\Documents\GitHub\DevOps\frontend:/opt/app

  