apiVersion: v1
kind: Service
metadata:
  name: mypostgres-cluster-ip-service

spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
  selector:
    app: mypostgres
    component: db