apiVersion: v1
kind: Service
metadata:
  name: myfrontend-cluster-ip-service

spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 80
  selector:
    app: myfrontend
    component: frontend
