apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: nginx-replicaset
  labels:
    component: web
    app: app

spec:
  template:
    metadata:
      name: nginx-pod
      labels:
        component: web
        app: app
    spec: 
      containers:
      - name: nginx-container
        image: nginx:alpine
  replicas: 5
  selector: 
    matchLabels: 
      app: app
      component: web