apiVersion: v1
kind: Service
metadata:
  name: mybackend-cluster-ip-service

spec:
  type: ClusterIP
  ports:
    - port: 5000
      targetPort: 5000
  selector:
    app: mybackend
    component: backend
